<!--************************** Bar Heading *****************************-->
  		<div class="media">
			<img class="mx-3 my-2" src="/images/ach_logo_full.png" alt="logo">
			<div class="media-body my-2">
				<h5>Videogames database and management tool</h5>
				<div class="mt-3 mb-2">
					<cite>"Very simple, very useful. The best management tool."</cite><small class="text-muted"><cite> —Ubisoft</cite></small>
				</div>
				<div class="my-2">
					<cite>"With awesome feautres and a easy interface, Achievements stands out in the way it handles your proyects."</cite><small class="text-muted"><cite> —Bethesda</cite></small>
				</div>
			</div>
		</div>

  		<!--************************** Navbar *****************************-->
  		<nav class="navbar navbar-expand-lg navbar-light mb-3 px-2 py-1" id="nav">
			<a class="navbar-brand" href="/"><img src="/images/ach_logo.png"></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/search">Companies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/search">Games</a>
					</li>

					<!--<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Dropdown
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>-->
				</ul>
				{{#if session}}
					<span>{{session.company.name}} - {{session.name}}</span>
				{{/if}}
				<ul class="navbar-nav ml-auto">
					{{#if session}}
						<li class="nav-item">
							<a class="nav-link" href="/{{session.company.name}}">Main</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/sales">Sales</a>
						</li>
							{{#if session.admin}}
								<li class="nav-item">
									<a class="nav-link" href="/roles">Roles</a>
								</li>
							{{/if}}
						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
					{{else}}
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/register">Register</a>
						</li>
					{{/if}}

				</ul>

				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>