<!DOCTYPE html>
<html>
<head>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- All pages' -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/achievements_site.css"/>
	

	<!-- Only for this page -->	
	<title>{{name}} - Achievements</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"> </script>
	<script type="text/javascript" src="/achievements_scripts/games_script.js"></script>
	
	
</head>
<body>

	<!--************************** Nav Bar *****************************-->
	{{>navbar}}	

	<!--************************** Title and resume *****************************-->
	<div class="container">
		
		<div class="row my-5">
			<div class="col">
				<h1 id="gameName" data-id="{{id}}">{{name}}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 mr-auto" >
				<img id="logoGames" height="274px" width="220px" src="/imagesGames/{{url}}-logo.jpg"/>
			</div>
			<div class="col-sm-6">
				<div class="embed-responsive embed-responsive-16by9 ml-auto">
					<iframe class="embed-responsive-item" allowfullscreen src="{{videoURL}}" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<span class="genre">{{genre}}</span>
				<span class="year">{{release}}</span>
			</div>
		</div>
		<!--************************** Description *****************************-->
		<div class="row my-3">
			<div class="col">
				<div id="infoGames">
					<p id="description">{{description}}</p>
		<!--************************** Cast *****************************-->
					<ul id="castList">
						{{#each cast}} 
						<li style="visibility: hidden;">{{@key}}: {{this}}</li>
						{{/each}} 
						<li style="visibility: hidden;"></li>
					</ul>
				</div>
			</div>
		</div>


		<!--************************** Carousel *****************************-->
		<div class="row">
			<div class="col">
				<div id="carousel" class="carousel slide" data-pause="hover" data-ride="carousel">
					<ol class="carousel-indicators">
					    <li data-target="#carousel" data-slide-to="0" class="active"></li>
						<li data-target="#carousel" data-slide-to="1"></li>
						<li data-target="#carousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
					
						<div class="carousel-item active">
						
							<img class="d-block w-100" src="/imagesGames/{{url}}-img1.jpg" alt="First slide" height="576px">
		   				</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="/imagesGames/{{url}}-img2.jpg" alt="Second slide" height="576px">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="/imagesGames/{{url}}-img3.jpg" alt="Third slide" height="576px">
					
						</div>
						
					</div>
					
					<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
		  			</a>
					<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>

		<!--************************** Management Info *****************************-->

		{{#ifCond session.company.name company.name}}
			<div class="row my-5">
				<h3>Statistics</h3>

				<div class="col-sm-12">
					<div id="statsGraphic">
						<canvas id="statsChart"></canvas>
					</div>
				</div>

			</div>
			
			<div class="row my-5">
				<ul id="statisticsGames">
					<li>Total Sold: {{totalSold}}</li>
					<li>Earnings: {{earnings}}</li>
					<li>Price: {{price}}</li>
					<li>Costts: {{costs}}</li>
				</ul>
			</div>
		{{/ifCond}}
	</div>

	<!--************************** Footer *****************************-->
	{{> footer}}
	<!-- Libraries-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	<!-- Chart script -->
	{{#ifCond session.company.name company.name}}
		<script type="text/javascript" src="/achievements_scripts/games_chart.js"></script>
	{{/ifCond}}
	

	</body>
</html>