<!doctype html>
<html lang="en">
<head>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- All pages' -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="achievements_site.css"/>

	<!-- Only for this page -->
	<title>Achievements</title>
	<script type="text/javascript" src="achievements_scripts/home_script.js"></script>

  </head>

  <body>
		<!--************************** Nav Bar *****************************-->
	{{>navbar}}
  		
		<!--************************** Content *****************************-->
	<div class="container">
		<div class="row my-5">
			<div class="col-sm-6">
				<div class="description">
					<img id="home1jpg" class="img-fluid" src="images/home1.jpg"/>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card p-3 text-center">
					<blockquote class="blockquote mb-0 card-body">
						<h3 class="card-title">Find every game, everywhen, everywhere</h3>
						<span>In Achievements, you will find the most specific information about the videogames industry, both games and companies.</span>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-sm-6">
				<div class="card p-3 text-center">
					<blockquote class="blockquote mb-0 card-body">
						<h3 class="card-title">Achievements for gamers and companies</h3>
						<span>You can also manage your own games projects, get statistics and planning the develop of your games in every step of the progress.</span>
					</blockquote>
				</div>
			</div>
			<div class="col-sm-6">
				<img id="home2jpg" class="img-fluid" src="images/home2.jpg"/><br/>
			</div>
		</div>

		<!--************************** Customers logos *****************************-->
		<div class="row">
			<div class="col-sm-12">
				<div id="costumers">
					<div class="row">
						<div class="col-sm-12">
							<div id="costumersSubheading" style="visibility: hidden;">
								<span>They already trust us</span>
							</div>
						</div>
					</div>
					<div id="logos" style="visibility: hidden;">
						<div class="row">
							<div class="col-sm-3">
								<img class="img-fluid" src="images/activision_logo.png"/>
							</div>
							<div class="col-sm-3">
								<img class="img-fluid" src="images/aeria_logo.jpeg"/>
							</div>
							<div class="col-sm-3">
								<img class="img-fluid" src="images/bethesda_logo.png"/>
							</div>
							<div class="col-sm-3">
								<img class="img-fluid" src="images/bioware_logo.png"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>

	<!--************************** Footer *****************************-->
	{{> footer}}


	<!-- Libraries-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	

	
  </body>
</html>