<!DOCTYPE html>
<html>
<head>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- All pages' -->
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="achievements_site.css"/>

	<!-- Only for this page -->
	<title>Log in</title>
	
</head>
<body>

	<!--************************** Nav Bar *****************************-->
	{{>navbar}}

	<!--************************** Content *****************************-->
	<div class="container">

		<h2>Log in</h2>

		<form method="post" action="/login" class="my-5">
			<fieldset>
				<div class="row">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="email">User Name</label>
							<input type="text" class="form-control" id="email" placeholder="ubisoft-federico.gatti" autocomplete="on" autofocus required name="userName">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password" required="" name="password">
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center">
	 				<button type="submit" class="btn btn-primary">Log in</button>
	 			</div>
			</fieldset>
		</form>
	

		<p class="text-center"><a href="register">Create an account now!</a></p>
			
	</div>

<!--************************** Footer *****************************-->
{{> footer}}

<!-- Libraries-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>