<!DOCTYPE html>
<html>
<head>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- All pages' -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/achievements_site.css"/>
	
	<!-- Only for this page -->
	<title>Register</title>
	<script type="text/javascript" src="/achievements_scripts/register_script.js"></script>

</head>
<body>
	
	<!--************************** Nav Bar *****************************-->
	{{>navbar}}


	<!--************************** Heading *****************************-->
	<div class="container">
	
		<div class="row my-5">
			<div class="col">
				<h2>Join on Achievements!</h2>
				<span>
					You will have access to a incredibles features!<br/>
					Complete the form and follow the instructions.
				</span>
			</div>
		</div>
	<!--************************** Form *****************************-->
		<form id="reg_form" class="needs-validation my-5" novalidate="true" action="/register" method="post" >
			<fieldset>
			<div class="form-row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="companyName">Company name</label>
						<input type="text" class="form-control" id="companyName" placeholder="Company name" onkeyup="companyCheck(this.value)" aria-describedby="companyHelp" required name="name">
						<div class="invalid-feedback">That Company is already redistred.</div>
						<small class="form-text text-danger sr-only" id="companyHelp">Atari is already registred.</small>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-6">
					<label for="name">Full name</label>
					<input type="text" class="form-control mb-2 mr-sm-3" id="name" placeholder="Full name" required name="fullName" onkeyup="generateUserCompany(this.value)">
				</div>
				<div class="col-sm-6">
					<label for="userName">User Name</label>
					<input type="text" class="form-control form-control-plaintext mb-2 mr-sm-3" id="userName" placeholder="User Name" readonly required  name="userName">
					<small id="userNameHelpBlock" class="form-text text-muted">
					The user name for log in.
					</small>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp" onblur="emailCheck(this.value)" required name="email">
						<div class="invalid-feedback">Insert a valid email.</div>
						<small class="form-text text-danger sr-only" id="emailHelp">Insert a vaild email.</small>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="email">Email Confirm</label>
						<input type="email" class="form-control" id="emailConfirm" placeholder="Email Confirm" aria-describedby="emailConfirmHelp" onblur="emailConfirmCheck(this.value)" required >
						<div class="invalid-feedback">The emails doesn't match.</div>
						<small class="form-text text-danger sr-only" id="emailConfirmHelp">The emails doesn't match.</small>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" placeholder="Password" aria-describedby="passwordHelp" onkeypress="passwordCheck(this.value)" required name="password">
						<div class="invalid-feedback">The password is too weak.</div>
						<small class="form-text text-danger sr-only" id="passwordHelp">The password is too weak.</small>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="passwordConfirm">Password Confirm</label>
						<input type="password" class="form-control" id="passwordConfirm" placeholder="Password Confirm" aria-describedby="passwordConfirmHelp" onblur="passwordConfirmCheck(this.value)" required>
						<div class="invalid-feedback">The password is incorrect.</div>
						<small class="form-text text-danger sr-only" id="passwordConfirmHelp">The password is incorrect.</small>
					</div>
				</div>
			</div>
			
			<!-- Personal info -->
			<div class="form-row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="adress">Address</label>
						<input type="text" class="form-control" id="adress" placeholder="Apartment, studio, or floor" required name="address">
					</div>
				</div>
				<div class=col-sm-6">
					<div class="form-group">
						<label for="country">Country</label>
						<select id="country" class="form-control" required name="country">
							{{>countries}}
						</select>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="city">City</label>
						<input type="text" class="form-control" id="city" placeholder="City" required name="city">
					</div>
				</div>
				<div class=col-sm-4">
					<div class="form-group">
						<label for="state">State</label>
						<input type="text" class="form-control" id="state" placeholder="State" required name="state">
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="zip">Zip</label>
						<input type="text" class="form-control" id="zip" placeholder="Zip" required name="zip">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary" value="Register">Register</button>
			</fieldset>
		</form>

	</div>

	<!--************************** Footer *****************************-->
	{{> footer}}

	<!-- Libraries-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	

  </body>
</html>