<!DOCTYPE html>
<html>
<head>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- All pages' -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/achievements_site.css"/>
	
	<!-- Only for this page -->
	<title>Roles</title>
	<script type="text/javascript" src="/achievements_scripts/roles_script.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/regular.css" integrity="sha384-aubIA90W7NxJ+Ly4QHAqo1JBSwQ0jejV75iHhj59KRwVjLVHjuhS3LkDAoa/ltO4" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">

</head>
<body>
	
	<!--************************** Nav Bar *****************************-->
	{{>navbar}}

	<!--************************** Heading *****************************-->
	<div class="container">
		<div class="row mt-5">
			<h2 id="companyName">{{companyName}}</h2>
		</div>
		<div class="row my-3">
			<h3>Define your team</h3>
		</div>
		<div class="row my-3">
			<span>
				This is your team dashboard.<br/>
				The Data Entry will have acces to fill the game's information.<br/>
				The Marketing guy will fill and edit all the marketing's stuff of the games.<br/>
				The admins have super powers for everything.
			</span>
		</div>
	<!--************************** Form *****************************-->
		<form id="roles_form" class="needs-validation my-5" novalidate="true" action="/roles" method="post">
			<div class="form-row">
				<div class="col-sm-2">
					<label for="name" class="sr-only">Full name</label>
					<input type="text" class="form-control mb-2 mr-sm-3" id="name" placeholder="Full name" required name="name" onkeyup="generateUser(this.value)">
				</div>
				<div class="col-sm-2">
					<label for="userName" class="sr-only">User Name</label>
					<input type="text" class="form-control form-control-plaintext mb-2 mr-sm-3" id="userName" placeholder="User Name" readonly required name="userName">
					<small id="userNameHelpBlock" class="form-text text-muted">
					The user name for log in.
					</small>
				</div>
				<div class="col-sm-2">
					<label for="password" class="sr-only">Password</label>
					<input type="password" class="form-control mb-2 mr-sm-3" id="password" placeholder="Password" required name="password">
				</div>
					
				
				<div class="form-check">
					<label class="form-check-label" for="admin">Admin</label>
					<input class="form-check-input" type="checkbox" id="amdin" value="true" name="admin" onclick="adminCheck(this.checked)">
					
				</div>
				<div class="form-check">
					<label class="form-check-label" for="dataEntry">Data Entry</label>
					<input class="form-check-input" type="checkbox" id="dataEntry" value="true" name="dataEntry">
				</div>
				<div class="form-check">
					<label class="form-check-label " for="marketing">Marketing</label>
					<input class="form-check-input" type="checkbox" id="marketing" value="true" name="marketing">
				</div>
				<div class="col-sm-2 ml-auto">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</div>
	
		</form>

		<div class="row mt-5">
			<h2>The Team</h2>
		</div>
		{{#each users}}
			<div class="row my-1" id="{{id}}">
				<div class="col-sm-3">
					<span>{{name}}</span>
				</div>
				<div class="col-sm-3">
					<span>{{userName}}</span>
				</div>
				<div class="col-sm-3">
					{{#if dataEntry}}
						<span>Data entry</span>
					{{/if}}
					{{#if marketing}}
						<span>Marketing</span>
					{{/if}}
					{{#if admin}}
						<span>Admin</span>
					{{/if}}
				</div>
				<div class="col-sm-3">
					<i class='far fa-trash-alt' data-id="{{id}}" onclick="deleteUser(this)"></i>
					<i class="far fa-edit" data-toggle="modal" data-target="#editUser" data-id="{{id}}" onclick="fillModal(this)"></i>
				</div>
			</div>
		{{/each}}

	
		<!-- Modal -->
		<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUser" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg mw-100 mx-5 px-5" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit User</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="roles_formModal" class="needs-validation my-5" novalidate="true" action="/roles" method="post">
							<div class="form-row">
								<div class="col-sm-2">
									<label for="name" class="sr-only">Full name</label>
									<input type="text" class="form-control mb-2 mr-sm-3" id="nameModal" placeholder="Full name" required name="name" onkeyup="generateUserModal(this.value)">
								</div>
								<div class="col-sm-2">
									<label for="userName" class="sr-only">User Name</label>
									<input type="text" class="form-control form-control-plaintext mb-2 mr-sm-3" id="userNameModal" placeholder="User Name" readonly required name="userName">
									<small id="userNameHelpBlock" class="form-text text-muted">
									The user name for log in.
									</small>
								</div>
								<div class="col-sm-2">
									<label for="password" class="sr-only">Password</label>
									<input type="password" class="form-control mb-2 mr-sm-3" id="passwordModal" placeholder="Password" required name="password">
								</div>
									
								
								<div class="form-check">
									<label class="form-check-label" for="admin">Admin</label>
									<input class="form-check-input" type="checkbox" id="adminModal" value="true" name="admin" onclick="adminCheck(this.checked)">
									
								</div>
								<div class="form-check">
									<label class="form-check-label" for="dataEntry">Data Entry</label>
									<input class="form-check-input" type="checkbox" id="dataEntryModal" value="true" name="dataEntry">
								</div>
								<div class="form-check">
									<label class="form-check-label " for="marketing">Marketing</label>
									<input class="form-check-input" type="checkbox" id="marketingModal" value="true" name="marketing">
								</div>
							
															
							</div>
					
						</form>
						
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="saveUser" onclick="editUser(this)">Save</button>
					</div>
				</div>
			</div>
		</div>





	</div>

<!--************************** Footer *****************************-->
	{{> footer}}
	<!-- Libraries-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>