<!DOCTYPE html>
<html>
<head>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- All pages' -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/achievements_site.css"/>
	

	<!-- Only for this page -->	
	<title>Sales</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"> </script>
	<script type="text/javascript" src="/achievements_scripts/sales_script.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/regular.css" integrity="sha384-aubIA90W7NxJ+Ly4QHAqo1JBSwQ0jejV75iHhj59KRwVjLVHjuhS3LkDAoa/ltO4" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
	
</head>
<body>

	<!--************************** Nav Bar *****************************-->
	{{>navbar}}	

	<!--************************** Title and resume *****************************-->
	<div class="container">


		<!-- Modal -->
		<div class="modal fade" id="newSales" tabindex="-1" role="dialog" aria-labelledby="newSales" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg mw-80 " role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Sales data</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="newSalesForm" action="/sales" method="post">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-5">
								<table id="tableSalesModal" class="table table-responsive-sm">
									<caption>List of sales</caption>
									<tr>
										<th>Date</th>
										<th>Units</th>
									</tr>
									{{#each games.sales.sold}}
										{{#each this}}
											<tr>
												<td>{{@key}}</td>
												<td>{{this}}</td>
											</tr>
										{{/each}}
									{{/each}}
								</table>
							</div>

							<div class="form-group col-md-3">
								<label for="addDate">Add Date</label>
								<input type="date" class="form-control" id="addDate" required>
							</div>
							<div class="form-group col-md-3">
								<label for="addUnits">Add Units</label>
								<input type="text" class="form-control" id="addUnits" placeholder="321654987" required>
								<button type="button" class="btn btn-primary my-3" onclick="addSale(addDate, addUnits)">Add</button>
								<button type="button" class="btn btn-secondary my-3" onclick="clearCells(addDate, addUnits)">Clear</button>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="postSales()">Save changes</button>
					</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Table -->
		<div class="row">
			<div class="form-group col-md-4">
				<label for="gameSelect">Game</label>
				<select id="gameSelect" class="form-control" onchange="chartSales(this.value)">
				{{#each games}}
					<option>{{name}}</option>
				{{/each}}
				</select>
			</div>
		<div class="form-group col-md-2">
		<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newSales" onclick="chartSalesModal(gameSelect.value)">
			Add Sales data
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">	
			<table id="tableSales" class="table table-bordered table-hover">
				<tr>
					<th>Date</th>
					<th>Units</th>
				</tr>
				{{#each games.sales.sold}}
				{{#each this}}
				<tr>
					<td>{{@key}}</td>
					<td>{{this}}</td>
				</tr>
				{{/each}}
				{{/each}}
			</table>
		</div>
	</div>

</div>




<!--************************** Footer *****************************-->
{{> footer}}
<!-- Libraries-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	


	

</body>
</html>