<!DOCTYPE html>
<html>
<head>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- All pages' -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="achievements_site.css"/>

	<!-- Only for this page -->
	<title>Search</title>

</head>
<body>

	<!--************************** Nav Bar *****************************-->
	{{>navbar}}

	<!--************************** Content *****************************-->


	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-done d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<form>
						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>Genre</span>
						</h6>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Action">
							<label class="form-check-label" for="Action">Action</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Adventure">
							<label class="form-check-label" for="Adventure">Adventure</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Shooter">
							<label class="form-check-label" for="Shooter">Shooter</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Strategy">
							<label class="form-check-label" for="Strategy">Strategy</label>
						</div>

						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>Year</span>
						</h6>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="1990">
							<label class="form-check-label" for="1990">1990</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="2000">
							<label class="form-check-label" for="2000">2000</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="2010">
							<label class="form-check-label" for="2010">2010</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Not released">
							<label class="form-check-label" for="Not released">Not released</label>
						</div>

						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>Plataform</span>
						</h6>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="PC">
							<label class="form-check-label" for="PC">PC</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="X-Box">
							<label class="form-check-label" for="X-Box">X-Box</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="PlayStation">
							<label class="form-check-label" for="PlayStation">PlayStation</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Mobile">
							<label class="form-check-label" for="Mobile">Mobile</label>
						</div>

						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>Game Mode</span>
						</h6>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Single Player">
							<label class="form-check-label" for="Single Player">Single Player</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Multi Player">
							<label class="form-check-label" for="Multi Player">Multi Player</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Online">
							<label class="form-check-label" for="Online">Online</label>
						</div>

						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>Company</span>
						</h6>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Atari">
							<label class="form-check-label" for="Atari">Atari</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Bioware">
							<label class="form-check-label" for="Bioware">Bioware</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="otras">
							<label class="form-check-label" for="otras">otras</label>
						</div>
					</form>
				</div>
			</nav>
			
			<div class="col-md-9">
				<h2>Search</h2>
				<span class="subtitle">Find any game or company.</span>

				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</div>

	</div>


	<!-- Libraries-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>