<!DOCTYPE html>
<html>
<head>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- All pages' -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="achievements_site.css"/>

	<!-- Only for this page -->
	<title>Achievements User Data</title>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"> </script>
	<script type="text/javascript" src="/achievements_scripts/user_script.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/regular.css" integrity="sha384-aubIA90W7NxJ+Ly4QHAqo1JBSwQ0jejV75iHhj59KRwVjLVHjuhS3LkDAoa/ltO4" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
		
</head>
<body>
	<!--************************** Nav Bar *****************************-->
	{{>navbar}}

	<!--************************** Content *****************************-->
	<div class="container">

		<div class="row my-5">
			<h2>{{companyName}}</h2>
		</div>

		<!-- Button trigger modal -->
		
		{{#ifCond session.company.name companyName}}
			<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#newGame">
			Add new game
			</button>
		
			<!-- Modal -->
			<div class="modal fade" id="newGame" tabindex="-1" role="dialog" aria-labelledby="newGame" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg mw-100 p-5 m-5" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="">Add new game</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					<form id="newGame" action="/user" method="post" enctype="multipart/form-data">
					<div class="modal-body">

						<div class="form-row">
							<div class="col-md-2">
								<label for="newGameName">Game Name</label>
								<input type="text" class="form-control" placeholder="Game Name" id="newGameName" name="name">
							</div>
							<div class="col-md-2">
								<label for="newRelease">Release</label>
								<input type="date" class="form-control" placeholder="Release" id="newRelease" name="release">
							</div>
					    	<div class="col-md-2">
								<label for="newGenre">Genre</label>
								<input type="text" class="form-control" placeholder="Genre" id="newGenre" name="genre">
							</div>
							<div class="col-md-2">
								<label for="newPlataform">Plataform</label>
								<input type="text" class="form-control" placeholder="Plataform" id="newPlataform" name="plataform">
							</div>
							<div class="col-md-2">
								<label for="newGameMode">Game Mode</label>
								<input type="text" class="form-control" placeholder="GameMode" id="newGameMode" name="gameMode">
							</div>
							<div class="col-md-2">
								<label for="newPrice">Price</label>
								<input type="text" class="form-control" placeholder="Price" id="newPrice" name="price">
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-10">
								<div class="form-group">
								<label for="description">Description</label>
								<textarea class="form-control" id="description" rows="3" name="description"></textarea>
								</div>
							</div>
							<div class="col-md-2">
								<label for="newCosts">Costs</label>
								<input type="text" class="form-control" placeholder="Costs" id="newCosts" name="costs">
							</div>
						</div>
						<h6 class="modal-title" id="">Cast</h6>
						<div class="form-row">
							<div class="col-md-2">
								<label for="directedBy">Directed by</label>
								<input type="text" class="form-control" id="directedBy" name="directedBy">
							</div>
							<div class="col-md-2">
								<label for="writtenBy">Written by</label>
								<input type="text" class="form-control" id="writtenBy" name="writtenBy">
							</div>
							<div class="col-md-2">
								<label for="stars">Stars</label>
								<input type="text" class="form-control" id="stars" name="stars">
							</div>
							<div class="col-md-2">
								<label for="music">Music</label>
								<input type="text" class="form-control" id="music" name="music">
							</div>
							<div class="col-md-2">
								<label for="artDirection">Art Direction</label>
								<input type="text" class="form-control" id="artDirection" name="artDirection">
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-2">
								<div class="custom-file">
									<label class="custom-file-label" for="newLogo">Upload the logo</label>
									<input type="file" class="custom-file-input" id="newLogo" name="logo" onchange="setName(this)">
									<small></small>
								</div>
							</div>
							<div class="col-md-2">
								<div class="custom-file">
									<label class="custom-file-label" for="newImage1">Upload the image 1</label>
									<input type="file" class="custom-file-input" id="newImage1" name="img1" onchange="setName(this)">
								</div>
							</div>
							<div class="col-md-2">
								<div class="custom-file">
									<label class="custom-file-label" for="newImage2">Upload the image 2</label>
									<input type="file" class="custom-file-input" id="newImage2" name="img2" onchange="setName(this)">
								</div>
							</div>
							<div class="col-md-2">
								<div class="custom-file">
									<label class="custom-file-label" for="newImage3">Upload the image 3</label>
									<input type="file" class="custom-file-input" id="newImage3" name="img3" onchange="setName(this)">
								</div>
							</div>
							<div class="col-md-2">
									<label for="newVideo">Video Link</label>
									<input type="text" class="form-control" placeholder="URL" id="newVideo" name="videoURL">
							</div>
								
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" data-target="#newGame" action="/user" method="post" id="saveGame">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="editGame" onclick="updateGame(this)">Update</button>

					</form>
				</div>
			</div>
		</div>
	</div>
		{{/ifCond}}

		<!-- Table -->
		<div class="row my-3">
			<div class="col-sm-12">	
				<table id="tableUser" class="table table-bordered table-hover">
					<tr>
						<th>Name</th>
						<th>Release</th>
						<th>Genre</th>
						<th>Plataform</th>
						<th>Game mode</th>
					{{#ifCond session.company.name companyName}}
						<th>Costs</th>
						<th>Price</th>
						<th>Sold</th>
						<th>Total Earnings</th>
						<th>Edit</th>
					{{/ifCond}}
					</tr>
					
					{{#each games}}
					<tr>
						<td><a href="/games/{{url}}">{{name}}</br><img src="/imagesGames/{{url}}-logo.jpg"></a></td>
						<td>{{release}}</td>
						<td>{{genre}}</td>
						<td>{{plataform}}</td>
						<td>{{gameMode}}</td>
					{{#ifCond session.company.name companyName}}
						<td>{{costs}}</td>
						<td>{{price}}</td>
						{{#if totalSold}}
							<td>{{totalSold}}</td>
							{{else}}
							<td><a href="/sales">Complete on Sales</a></td>
						{{/if}}
						<td>{{earnings}}</td>
						<td><i class='far fa-trash-alt' data-id="{{_id}}" onclick="deleteGame(this)"></i><i class="far fa-edit" data-id="{{_id}}" data-toggle="modal" data-target="#newGame" onclick="fillModal(this)"></i></td>
					{{/ifCond}}
					</tr>
					{{/each}}

				</table>

			</div>
		</div>

		<div class="row my-3">
			<div class="col-sm-12">	
				{{#ifCond session.company.name companyName}}
					<div id="UserChart" class="my-5">
						<span>Title</span>
						<canvas id="UChart"></canvas>
					</div>
				{{/ifCond}}
			</div>
		</div>



	</div>

	<!--************************** Footer *****************************-->
	{{> footer}}

	<!-- Libraries-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	{{#ifCond session.company.name companyName}}
	    <!-- Chart script -->
		<script type="text/javascript" src="achievements_scripts/user_chart.js"></script>
	{{/ifCond}}

  </body>
</html>