.footer {
	text-align: center;
}

.media img {
	width: 128px;
	height: 128px;
	
}
#nav {
	
	border: 1px solid rgb(0, 123, 255);
}

#nav img {
	max-width: 32px;
}

.media {
	background-image: url(images/background4.jpg)
}


.shadowOn {
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


/*--------Descriptions--------*/

.description img {
	width: 100%;
}

/*--------Costumers--------*/

#costumers {
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin: 50px 0px;
	font-size: 25px;
}

#costumers img {
	width: 200px;
}

#costumers .costumersSubheading {
	margin: 20px;
}

/*--------Login and Register form--------*/

.registerSpan {
	background-color: red;
	padding: 30px;
}

/*--------User's page--------*/

#tableUser img {
	width: 110px;
	height: 137px;
	
}


/*--------Games--------*/

#carousel {
	border-top: 2px solid red;
	border-bottom: 2px solid red;
}

#carousel img {


}

/*--------Icons--------*/

.fa-trash-alt:hover {
	color: red;
	
}

.fa-trash-alt {
	 cursor: pointer;
}

.fa-trash-alt:active {
	transform: translateY(4px);
}

/* */

.fa-edit:hover {
	color: blue;
	
}

.fa-edit {
	 cursor: pointer;
}

.fa-edit:active {
	transform: translateY(4px);
}